#wpfooter {
    display: none;
}
.inputs-wrapper {
    display:flex;
}

.inputSubWrapper {
    display:flex;
    flex-direction: column;
    width:200px;
    margin-bottom:1rem;
}
.textWrapper {
    margin-left:1rem;
}
.list-inline-item:first-of-type {
    border-top:1px solid grey;
}
.list-inline-item {
    border-bottom:1px solid grey;
    position:relative;
    padding:1rem 0;
}
.image-preview {
    width:300px;
}
.image-preview-wrapper {
    display: flex;
    align-items: center;
    position:relative;
}

.remove-image {
    position: absolute;
    text-align: center;
    top: -4rem;
    right: 0;
    background: red;
    color: white;
    font-size: 33px;
    width: 30px;
    height: 27px;
    cursor:pointer;
}

.upload-sub-images,
.upload-images,
.save-slider {
    background: #007cba;
    border:1px solid #007cba;
    color: white;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
    outline:none;
    cursor:pointer;
}

.subItems {
    display: flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin-top: 1rem;
}