@media only screen and (width:1024px) {
  .slider-container{
    .slider{
      .slider-img{
        .slider-box{
          left:40px;
          bottom:9.5%;
        }
      }
    }
  }
}


@media only screen and (max-width: 1024px){
  .slider-container{
    margin-top: 60px;
    .slider{
      max-width: 100%;
      .slider-img{
        .slider-box{
          left:0;
          padding: 20px;
          width: calc(100% - 40px);
          .title{
            font-size: 40px;
            margin-bottom: 20px;
          }
          .description{
            margin-bottom: 20px;
          }
        }
        .link{
          max-width: 100%;
          bottom:60px;
        }
      }
    }
    .pagination {
      width:100%;
      bottom: 19px;
      right:unset;
      height:max-content;
      display:flex;
      justify-content: center;
      .counter {
        display:flex;
        padding: 0 1rem;
        width:max-content;
        .num {
          padding:0 1.5rem;
          font-size:29.5px;
          &.active {
            font-size:40.5px;
            &:after{
              display:none;
            }
          }
        }

      }
    }
  }
}
@media only screen and (max-width:768px) {
  .slider-container {
    .slider {
      .slider-img {
        .link {
          font-size:14px;
          width:350px;
          height:46px;
          a {
            line-height:46px;
            padding-left:12px;
          }
          .fa-arrow-right {
            line-height:46px;
            top:13px;
            right:13px;
          }
        }
        .slider-box {
          top:50px;
          bottom:unset;
        }
      }
    }
    .pagination {
      .counter {
        .num {
          font-size:20.5px;
          &.active {
            font-size:30.5px;
          }
        }

      }
    }
  }
}
@media only screen and (max-width:$breakpoint-small) {
  .slider-container {
    .slider {
      .slider-img{
        .slider-box{
          .title {
            font-size:30px;
          }

          .description {
            font-size:14px;
          }
        }
        }
      }
    }
  }
@media only screen and (max-width:500px) {
  .slider-container {
    .slider {
      .slider-img {
        .slider-box {
          top:50px;
          bottom:unset;
          .title {
            font-size: 20px;
          }
        }
        .link {
          width:250px;
          height:30px;
          a {
            font-size:12px;
            line-height:30px;
            padding-left:12px;
          }
          .fa-arrow-right {
            line-height:30px;
            top:5px;
            right:5px;
          }
        }
      }
    }
    .pagination {
      .counter {
        .num {
          font-size:16.5px;
          &.active {
            font-size:20.5px;
          }
        }

      }
    }
  }
}
@media only screen and (max-width:430px) {
  .slider-container {
    .slider {
      .slider-img {
        .title {
          font-size:23px;
        }
        .link {
          width:200px;
          height:30px;
          a {
            font-size:8px;
            line-height:31px;
          }
          .fa-arrow-right {
            font-size:0.7rem;
            top:9px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:320px) {
  .slider-container {
    .slider {
      .slider-img{
        .slider-box{
          .title {
            font-size:20px;
          }
        }
      }
    }
  }
}