.slider-container{
  display: flex;
  flex-direction: row;
  @media only screen and (width:1920px) {
    min-height:700px;
  }
  @media only screen and (width:1600px) {
    min-height:580px;
  }
  @media only screen and (width:1540px) {
    min-height:553px;
  }
  @media only screen and (width:1440px) {
    min-height:508px;
  }
  @media only screen and (width:1400px) {
    min-height:490px;
  }
  @media only screen and (width:1366px) {
    min-height:461px;
  }
  @media only screen and (width:1300px) {
    min-height:445px;
  }
  @media only screen and (width:1240px) {
    min-height:418px;
  }
  @media only screen and (width:1024px) {
    min-height:500px;
  }
  @media only screen and (width:768px) {
    min-height:386px;
  }
  @media only screen and (width:360px) {
    min-height:206px;
  }
  @media only screen and (width:411px) {
    min-height:228px;
  }
  @media only screen and (width:414px) {
    min-height:230px;
  }
  @media only screen and (width:320px) {
    min-height:185px;
  }
  @media only screen and (width:375px) {
    min-height:212px;
  }
  @media only screen and (width:540px) {
    min-height:286px;
  }
  @media only screen and (width:1280px) {
    min-height:436px;
  }


  @media only screen and (min-width:1025px) {
    margin-left:80px;
  }
  margin-bottom:130px;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  @media only screen and (min-width:1921px) {
    max-width:1726px;
  }
  .slider{
    max-width: calc(100% - 200px);
    position: absolute;
    .slider-img{
      width: 100%;
      height: 100%;
      max-height:740px;
      position: relative;
      .link{
        width: 416px;
        height: 61px;
        border: solid 2px $white;
        position: absolute;
        bottom: 5%;
        left: 4%;
        @media only screen and (max-width:1024px) {
          left:19px;
        }
        a{
          text-transform: uppercase;
          line-height: 61px;
          font-size: 19px;
          letter-spacing: 3.8px;
          text-align: left;
          color: $white;
          text-decoration: none;
          padding-left: 34px;
          display: inline-block;
          width: calc(100% - 34px);
          position: absolute;
        }
        .fa-arrow-right{
          position: absolute;
          line-height: 61px;
          font-size: 19px;
          right: 33px;
          top:21px;
          color:white;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
      .slider-box{
        color: $white;
        .title{
          font-size: 60px;
          font-weight: 900;
          line-height: 0.91;
          position:absolute;
          left:4%;
          top:4%;
          text-align: left;
          white-space: pre-wrap;
          margin-bottom: 53px;
          @media only screen and (max-width:1500px) {
            font-size:50px;
          }
          @media only screen and (max-width:1230px) {
          font-size:35px;
          }
        }
        .description {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.67;
          max-width:90%;
          text-align: left;
          white-space: pre-wrap;
          margin-bottom: 50px;
          position:absolute;
          bottom: 0;
          left: 4%;
          @media only screen and (max-width:1500px) {
            font-size:16px;
          }
          @media only screen and (max-width:1230px) {
            font-size:12px;
          }
          @media only screen and (max-width:1024px) {
            display:none;
          }
        }
      }
      overflow:hidden;
      .subImagesContainer {
        display:flex;
        position:absolute;
        top:0;
        left:100%;
        height:100%;
        .subImageItem {
          position:relative;
        }
      }
    }
  }
  .pagination{
    width: 200px;
    position: absolute;
    right:0;
    @media only screen and (max-width:1024px) {
      display:none;
    }
    height: 100%;
    .counter{
      position: absolute;
      @media only screen and (max-width:1024px) {
        top: 69%;
        transform: translateY(-50%);
      }
      @media only screen and (min-width:1025px) {
        bottom:0;
      }
      padding-left: 14px;
      text-align: center;
      cursor: pointer;
      width: calc(100% - 14px);
      .num{
        font-size: 16.5px;
        font-weight:bold;
        line-height: 2.5;
        letter-spacing: 3.3px;
        color: $pagination_num_color;
        display: flex;
        align-items: center;
        &.active{
          font-size: 23.5px;
          font-weight: 800;
          line-height: 2.5;
          letter-spacing: 4.7px;
          color: $active_pagination_color;
          &:after{
            content: '';
            position: relative;
            width: 67px;
            height: 3px;
            left: 15px;
            display: block;
            background-color: $pagination_line_color;
          }
        }
      }
    }
  }
}