@font-face {
  font-family: 'Montserrat-regular';
  src: url(fonts/Monsterrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url(fonts/Montserrat-ExtraBold.ttft);
}

//fonts
$medium: 'Montserrat-regular', sans-serif;
$bold: 'Montserrat-Bold', sans-serif;
$black_font: 'Montserrat-Black', sans-serif;

$white: #ffffff;
$pagination_num_color: rgba(105, 105, 112, 0.7);
$pagination_line_color: #8f9191;
$active_pagination_color: #3f4243;

$breakpoint-small: 37.5em; // 600px
$breakpoint-med: 48em; // 768px
$breakpoint-large: 62em; // 992px