.donation-form {
    display: flex;
    flex-direction: column;
}
.donation-form  div {
    display:flex;
    flex-direction: column;
}
.donation-form h2 {
    margin: 1em 0;
}
.donation-form input[type = number]{
    width: 5%;
    -moz-appearance:textfield;

}
.donation-form input[type = number]::-webkit-outer-spin-button,
.donation-form input[type = number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.donation-form .titleLabel {
    font-weight: bold;
    font-size: 1.5rem;
    margin:1rem 0;
}

.donation-form #addDonationInput,
.donation-form #addProductDonationInput {
    font-size:0.8rem;
    width:max-content;
    cursor:pointer;
    background-color: #5DC16B;
    margin-left: 0.5em;
    font-weight: bolder;
    line-height: 2;
    color: white;
    padding: 0 0.5em;
    text-align: center;
}
.donation-form .removeDonationInput {
    background-color: #D11A2A;
    margin-left: 0.5em;
    font-weight: bolder;
    line-height: 2;
    color: white;
    padding: 0 0.5em;
    text-align: center;
}