.page-template-donation {
  #main-container {
    &> .container {
      &:first-of-type {
        margin-left: 0;
      }
    }
    .customersOrdersHeader {
      margin-left:0;
    }
  }
}

.donationFormContainer{
  @include donationBtns();
  @include custom_checkbox(20px, 55px, 55px, solid 0.5px #0a0b0b, $text_color, true, true);
  @media only screen and (max-width:380px) {
    .newsletter-checkbox {
      padding-left:42px !important;
      display:flex;
      align-items:center;
      .checkmark {
        width: 35px !important;
        height: 35px !important;
        top:10px !important;
      }
    }
  }
  box-shadow: 31px 0 73px 0 rgba(29, 29, 29, 0.19);
  background-color: $white;
  min-height: 500px;
  padding: 50px;
  margin-bottom:130px;
  @media only screen and (max-width:500px) {
    width:100%;
  }
  #loggedOutNoticeContainer {
    margin-top: 1rem;
    display: block;
    color: red;
    &.hidden {
      display:none;
    }
  }
  #donationAmountInput {
    margin:0 !important;
  }
  .additionalInput{
    width: calc(90% - 44px);
    height: 78px;
    border: solid 0.5px $donation_inputs;
    padding-left: 44px;
    margin-bottom: 61px;
    background-color: $white;
    &::placeholder{
      color: $dark_text_color;
    }
  }
  .PermanentAccountHeader{
    margin-bottom: 38px;
    padding-left: 20px;
    font-size: 24px;
    letter-spacing: normal;
    text-align: left;
    color: $dark_text_color;
  }
  .donationForm{
    margin-bottom: 103px;
    .row {
      &> div {
        position:relative;
        .donationNotice {
              position:absolute;
              top:-30px;
              color:red;
        }
      }
      .newsletter-checkbox {
        &:nth-of-type(2) {
          @media only screen and (max-width:650px) {
            max-width:60%;
          }
        }
      }
    }
    .moneyInput{
      width: calc(90% - 30px);
      padding-left: 30px;
      box-shadow: inset 8px 0 18px 0 rgba(0, 0, 0, 0.11);
      background-color: $white;
      height: 78px;
      border:0;
      font-size: 18px;
      color: $dark_text_color;
      &::placeholder{
        color: $dark_text_color;
      }
      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button, &[type=number]{
        -webkit-appearance: none;
        margin: 0;
        -moz-appearance:textfield;
      }
    }
    .acceptedMinMoney{
      display: block;
      font-size: 16px;
      text-align: center;
      color: gray;
      margin-top: 15px;
    }
    .switchBtns{
      width: calc(100% - 10px);
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      .btn{
        flex: 50%;
        height: 64px;
        background-color: transparent;
        @include fluid-type(320px, 1880px, 12px, 18px);
        line-height: 64px;
        letter-spacing: normal;
        text-align: center;
        color: $dark_text_color;
        border: 0;
        outline: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &:focus{
          background-color: transparent;
        }
        &.active{
          @include fluid-type(320px, 1880px, 12px, 24px);
          color: $white;
          background-color: #383838;
          box-shadow: 3px 0 2.8px 0.2px rgba(29, 29, 29, 0.27);
          &:focus{
            background-color: #383838;
          }
        }
      }
    }
  }
  .permanentAccount{
    display: none;
    &.show{
      display: block;
      .selection{
        &.s-hidden {
          visibility:hidden;
          position: absolute;
          width: 265px;
          height: 75.5px;
        }
      }
    }
    .donationFormCOF{
      margin-top: 85px;
    }
    .select{
      .styledSelect{
        width: 227px;
        height: 75px;
        border: solid 0.5px $donation_inputs;
        line-height: 75px;
        font-size: 18px;
        color: $dark_text_color;
        padding-left: 38px;
        position: relative;
        cursor: pointer;
        svg {
          position: absolute;
          right: 29px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 21px;
          opacity: 0.51;
          color: $dark_text_color;
        }
      }
      .options {
        cursor: pointer;
        position: absolute;
        list-style-type: none;
        display:none;
        padding: 0;
        margin: 0;
        width: 265px;
        @media only screen and (max-width:768px) {
          width:100%;
        }
        border: solid 0.5px $donation_inputs;
        border-top: 0;
        font-size: 18px;
        color: $dark_text_color;
        height: auto;
        background-color: $white;
        z-index: 9;
        li{
          height: 75px;
          line-height: 75px;
          cursor: pointer;
          display: block;
          padding-left: 38px;
          &:hover{
            box-shadow: inset 8px 0 18px 0 rgba(0, 0, 0, 0.11);
          }

        }
      }
    }
  }
  .newsletter-checkbox {
    margin-top:1rem;
    width:max-content;
  }
}

@import 'responsiveDonation';