@media only screen and (max-width: $breakpoint-large){
  .donationFormContainer{
    padding: 50px 15px;
  }
}
@media only screen and (max-width: $breakpoint-med){
  .donationFormContainer{
    box-shadow: 0 0 20px 0 rgba(29, 29, 29, 0.19);
    .additionalInput{
      width: calc(100% - 44px);
    }
    .newsletter-checkbox{
      margin-bottom: 50px;
    }
    .donationForm{
      .acceptedMinMoney, .switchBtns{
        margin-bottom: 50px;
      }
    }
    .permanentAccount{
      &.show{
        .selection.s-hidden{
          width: 100%
        }
      }
      .select{
        margin-bottom: 50px;
        .styledSelect{
          width: calc(100% - 38px);
        }
      }
    }
  }
}
@media only screen and (max-width: 375px){
  .donationFormContainer {
    .newsletter-checkbox{
      line-height: normal;
    }
    .donationBtn {
      input{
        padding: 0;
        text-align: center;
      }
      .fas{
        display: none;
      }
    }
    .permanentAccount{
      .select{
        .styledSelect{
          width: calc(100% - 20px);
          padding-left: 20px;
        }
      }
    }
  }
}