@font-face {
  font-family: 'Montserrat-regular';
  src: url(fonts/Monsterrat-Regular.ttf); }
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(fonts/Montserrat-Bold.ttf); }
@font-face {
  font-family: 'Montserrat-Black';
  src: url(fonts/Montserrat-ExtraBold.ttft); }
.slider-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  position: relative;
  overflow: hidden; }
  @media only screen and (min-width: 1921px) {
    .slider-container {
      max-width: 1726px; } }
  .slider-container .slider {
    max-width: calc(100% - 200px);
    position: absolute; }
    .slider-container .slider .slider-img {
      width: 100%;
      height: 100%;
      position: relative; }
      .slider-container .slider .slider-img .link {
        width: 416px;
        height: 61px;
        border: solid 2px #ffffff;
        background-color: transparent;
        position: absolute;
        bottom: 5%;
        left: 4%; }
        @media only screen and (max-width: 1024px) {
          .slider-container .slider .slider-img .link {
            left: 19px; } }
        .slider-container .slider .slider-img .link a {
          text-transform: uppercase;
          line-height: 61px;
          font-size: 19px;
          letter-spacing: 3.8px;
          text-align: left;
          color: #ffffff;
          text-decoration: none;
          padding-left: 34px;
          display: inline-block;
          width: calc(100% - 34px);
          position: absolute; }
        .slider-container .slider .slider-img .link .fa-arrow-right {
          position: absolute;
          line-height: 61px;
          font-size: 19px;
          right: 33px;
          top: 21px;
          color: white; }
      .slider-container .slider .slider-img img {
        width: 100%;
        height: auto; }
      .slider-container .slider .slider-img .slider-box {
        color: #ffffff; }
        .slider-container .slider .slider-img .slider-box .title {
          font-size: 71px;
          font-weight: 900;
          line-height: 0.91;
          position: absolute;
          left: 4%;
          top: 4%;
          text-align: left;
          white-space: pre-wrap;
          margin-bottom: 53px; }
          @media only screen and (max-width: 1500px) {
            .slider-container .slider .slider-img .slider-box .title {
              font-size: 50px; } }
          @media only screen and (max-width: 1230px) {
            .slider-container .slider .slider-img .slider-box .title {
              font-size: 35px; } }
        .slider-container .slider .slider-img .slider-box .description {
          font-size: 18px;
          font-weight: 500;
          line-height: 1.67;
          text-align: left;
          white-space: pre-wrap;
          margin-bottom: 50px;
          position: absolute;
          bottom: 15%;
          left: 4%; }
          @media only screen and (max-width: 1500px) {
            .slider-container .slider .slider-img .slider-box .description {
              font-size: 16px; } }
          @media only screen and (max-width: 1230px) {
            .slider-container .slider .slider-img .slider-box .description {
              font-size: 12px; } }
          @media only screen and (max-width: 1024px) {
            .slider-container .slider .slider-img .slider-box .description {
              display: none; } }
  .slider-container .pagination {
    width: 200px;
    position: absolute;
    height: 100%; }
    @media only screen and (min-width: 1920px) {
      .slider-container .pagination {
        right: 6%; } }
    @media only screen and (max-width: 1919px) {
      .slider-container .pagination {
        right: 0; } }
    @media only screen and (max-width: 1024px) {
      .slider-container .pagination {
        display: none; } }
    .slider-container .pagination .counter {
      position: absolute;
      top: 69%;
      transform: translateY(-50%);
      padding-left: 14px;
      text-align: center;
      cursor: pointer;
      width: calc(100% - 14px); }
      .slider-container .pagination .counter .num {
        font-size: 16.5px;
        font-weight: bold;
        line-height: 2.5;
        letter-spacing: 3.3px;
        color: rgba(105, 105, 112, 0.7);
        display: flex;
        align-items: center; }
        .slider-container .pagination .counter .num.active {
          font-size: 23.5px;
          font-weight: 800;
          line-height: 2.5;
          letter-spacing: 4.7px;
          color: #3f4243; }
          .slider-container .pagination .counter .num.active:after {
            content: '';
            position: relative;
            width: 67px;
            height: 3px;
            left: 15px;
            display: block;
            background-color: #8f9191; }

@media only screen and (width: 1024px) {
  .slider-container .slider .slider-img .slider-box {
    left: 40px;
    bottom: 9.5%; } }
@media only screen and (max-width: 1024px) {
  .slider-container {
    margin-top: 60px; }
    .slider-container .slider {
      max-width: 100%; }
      .slider-container .slider .slider-img .slider-box {
        left: 0;
        padding: 20px;
        width: calc(100% - 40px); }
        .slider-container .slider .slider-img .slider-box .title {
          font-size: 40px;
          margin-bottom: 20px; }
        .slider-container .slider .slider-img .slider-box .description {
          margin-bottom: 20px; }
      .slider-container .slider .slider-img .link {
        max-width: 100%;
        bottom: 60px; } }
@media only screen and (max-width: 768px) {
  .slider-container .slider .slider-img .link {
    font-size: 14px;
    width: 350px;
    height: 46px; }
    .slider-container .slider .slider-img .link a {
      line-height: 46px;
      padding-left: 12px; }
    .slider-container .slider .slider-img .link .fa-arrow-right {
      line-height: 46px;
      top: 13px;
      right: 13px; }
  .slider-container .slider .slider-img .slider-box {
    top: 50px;
    bottom: unset; } }
@media only screen and (max-width: 37.5em) {
  .slider-container .slider .slider-img .slider-box .title {
    font-size: 30px; }
  .slider-container .slider .slider-img .slider-box .description {
    font-size: 14px; } }
@media only screen and (max-width: 500px) {
  .slider-container .slider .slider-img .slider-box {
    top: 50px;
    bottom: unset; }
    .slider-container .slider .slider-img .slider-box .title {
      font-size: 20px; }
  .slider-container .slider .slider-img .link {
    width: 250px;
    height: 30px; }
    .slider-container .slider .slider-img .link a {
      font-size: 12px;
      line-height: 30px;
      padding-left: 12px; }
    .slider-container .slider .slider-img .link .fa-arrow-right {
      line-height: 30px;
      top: 5px;
      right: 5px; } }
@media only screen and (max-width: 430px) {
  .slider-container .slider .slider-img .title {
    font-size: 23px; }
  .slider-container .slider .slider-img .link {
    width: 200px;
    height: 30px; }
    .slider-container .slider .slider-img .link a {
      font-size: 8px;
      line-height: 31px; }
    .slider-container .slider .slider-img .link .fa-arrow-right {
      font-size: 0.7rem;
      top: 9px; } }
@media only screen and (max-width: 320px) {
  .slider-container .slider .slider-img .slider-box .title {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
